<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TruyenHay"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AddTitleByGenre"
            android:exported="false" />
        <activity
            android:name=".AddChap"
            android:exported="false" />
        <activity
            android:name=".ChapList"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ListBookActivity"
            android:exported="false" />
        <activity
            android:name=".BookActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ChapActivity"
            android:exported="false" />
        <activity
            android:name=".GenreAddActivity"
            android:exported="false" />
        <activity
            android:name=".TitleAddActivity"
            android:exported="false" />
        <activity
            android:name=".TitleManageActivity"
            android:exported="false" />
        <activity
            android:name=".TitleUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".GenreManageActivity"
            android:exported="false" />
        <activity
            android:name=".GenreUpdateActivity"
            android:exported="false" />
    </application>

</manifest>